<html>
	<head></head>
	<body>
		<form method="post" enctype="multipart/form-data""> <!-- necesario para subir archivos -->
			<input type="file" class="btn btn-default" name="myimage">
         <br>
			<input type="submit" class="btn btn-default" name="submit" value="Subir">
		</form>
	</body>
</html>
