<form method="get" action="/myImages1">  
  <button type="submit" class="btn btn-default">Buscar</button>
</form>
<br>
<form action="/deleteImage">  
  <button type="submit" class="btn btn-default">Eliminar imagen</button>
</form>